.slidecontainer {
    width: 80%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #37BE6D; /*Green background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    border-radius: 10px;
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #035615; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 8px;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  
.botao {
    font-family: 'Londrina Solid', sans-serif;
    font-size: 24px;
    background-color: #006140;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 80px;
}

.botao:hover {
    background-color: rgba(0, 97, 69, 0.8);
}

div {
    display: inline-flex;
}

h2 {
    padding-inline: 400px;
}
